.htaccess
.listing
wp-admin/
wp-includes/
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/object-cache.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/plugins/db-cache-reloaded-fix/cache/*
wp-content/wptouch-data/cache/*
wp-content/wptouch-data/debug/*
wp-content/wptouch-data/temp/*
wp-content/themes/twentytwelve/
wp-content/themes/index.php
wp-content/languages/
wp-content/plugins/akismet/
wp-content/plugins/index.php
wp-content/plugins/wp-multibyte-patch/
wp-content/index.php
/wp-*.php
/xmlrpc.php
/index.php
/sitemap.xml
/sitemap.xml.gz
/readme.html
/readme-ja.html
/license.txt
*.bak
*.back
*.bk*
.sass-cache
__sass
*.command
config.rb
/nbproject/
.DS_Store